#flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#img-container {
    height: 640px;
    width: 540px;
    overflow: hidden;
}
#sub-container {
    height: 640px;
    display: block;
    position: relative;
}
#main-image {
    position: absolute;
    left: 0px;
}

#number {
    font-size: 200px;
    color: #FF0000;
    margin: 0;
    font-family: "Mulish", "Arial", sans-serif;
    font-weight: bold;
}